/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Product Sans Medium"), local("ProductSans-Medium"),
    url(https://fonts.gstatic.com/s/productsans/v9/pxicypQkot1TnFhsFMOfGShd5PSbT2lB.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  font-family: "Product Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error {
  @apply py-2 pl-4 bg-red-50 text-red-500 font-medium text-center ease-in;
}

.success {
  @apply py-2 pl-4 bg-green-50 text-green-700 font-medium text-center ease-in;
}

.shown {
  display: block;
}

.shown-hide {
  display: none;
}