<div
  class="m-20 dark:text-gray-300"
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <div fxLayout="column" fxLayoutAlign="start center" class="my-6">
    <h1 class="text-5xl font-bold my-2 text-black dark:text-gray-300">
      450 DSA Tracker
    </h1>
    <div class="body-font text-gray-800 dark:text-gray-200">
      ⚡ Boosts up your Data structure and Algorithms Skills.
    </div>
  </div>

  <form
    fxLayout="column"
    fxLayoutGap="30px"
    class="w-600"
    [formGroup]="loginForm"
  >
    <mat-form-field>
      <mat-label class="dark:text-gray-300"> Username</mat-label>
      <input
        matInput
        placeholder
        type="username"
        class="username"
        id="username"
        placeholder="sounishnath003"
        width="100%"
        formControlName="username"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label class="dark:text-gray-300"> Password</mat-label>
      <input
        matInput
        type="password"
        class="password"
        id="password"
        placeholder="*** *** ***"
        formControlName="password"
      />
    </mat-form-field>

    <div>
      <button
        (click)="onSubmit()"
        mat-raised-button
        fxFlex=""
        class="bg-pink-500 text-white tracking-wide uppercase font-sans"
      >
        Reset Password &rarr;
      </button>
    </div>
  </form>

  <div fxLayout="row" class="m-4 gap-2" fxLayoutAlign="space-between center">
    <div>
      Already have an account?
      <span
        [routerLink]="['', 'auth', 'sign-in']"
        [queryParams]="{ redirectTo: 'dashboard' }"
        class="text-blue-700 font-medium cursor-pointer"
        >Sign in</span
      >
    </div>
    <div>|</div>
    <div>
      Don't have an account?
      <span
        [routerLink]="['', 'auth', 'sign-up']"
        [queryParams]="{ redirectTo: 'dashboard' }"
        class="text-blue-700 font-medium cursor-pointer"
        >Sign up</span
      >
    </div>
  </div>
</div>
