<div class="grid-layout">
  <mat-card
    *ngFor="let topic of topics$ | async"
    style="width: 305px"
    class="dark:bg-gray-900"
  >
    <mat-card-header class="font-sans">
      <mat-card-title class="text-indigo-600 dark:text-gray-300">
        {{ topic.topicname }}
      </mat-card-title>
      <mat-card-subtitle class="dark:text-gray-300">
        Total Questions: {{ topic.totalProblems }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="font-sans">
      <div class="px-4" fxLayout="column" fxLayoutGap="5px">
        <div
          class="font-semibold text-gray-700 dark:text-gray-400"
          *ngIf="topic.started; else notStarted"
        >
          {{ topic.totalProblems - topic.solveCount }} more to go
        </div>

        <ng-template #notStarted>
          <div class="font-semibold text-red-700 dark:text-gray-300">
            You have not subscribed yet.
          </div>
        </ng-template>

        <div class="font-semibold text-gray-700 dark:text-gray-300">
          <span> Total Subscribers: </span>
          <span class="bg-pink-100 p-1 rounded-lg dark:text-pink-900">
            {{ topic.totalSubscribers }}
          </span>
        </div>
        <div
          fxLayout="center center"
          fxLayoutGap="3px"
          class="dark:text-gray-300"
        >
          <div>Completion Percentage:</div>
          <div
            *ngIf="topic.started; else noPercentage"
            class="text-green-600 font-semibold"
          >
            {{ topic.completionPercentage }}% &uarr;
          </div>
          <ng-template #noPercentage
            ><div class="text-red-700 font-semibold">N/A</div></ng-template
          >
        </div>
      </div>
    </mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-card-actions align="end" class="font-sans">
      <div *ngIf="topic.started; else temp">
        <button
          (click)="resetProgress(topic.id)"
          mat-button
          class="dark:text-gray-900 dark:bg-blue-100"
        >
          <mat-icon> restart_alt </mat-icon>
          <span>Reset</span>
        </button>

        <button
          mat-button
          color="accent"
          (click)="navigateToTopic(topic.topicname)"
        >
          <span class="font-sans dark:uppercase">Continue</span>
          <mat-icon> play_arrow </mat-icon>
        </button>
      </div>

      <ng-template #temp>
        <button
          mat-button
          color="primary"
          (click)="navigateToTopic(topic.topicname)"
        >
          <span
            class="font-semibold font-sans dark:text-gray-900 dark:p-2 dark:rounded dark:bg-gray-50"
            >Start Journey &rarr;</span
          >
        </button>
      </ng-template>
    </mat-card-actions>

    <mat-card-footer>
      <mat-progress-bar
        color="accent"
        mode="determinate"
        [value]="topic.completionPercentage"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
