<div class="grid-layout">
  <mat-card *ngFor="let topic of topics$ | async" style="width: 305px">
    <mat-card-header class="font-sans">
      <mat-card-title class="text-indigo-600">
        {{ topic.topicname }}
      </mat-card-title>
      <mat-card-subtitle>
        Total Questions: {{ topic.totalProblems }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="font-sans">
      <div class="px-4" fxLayout="column" fxLayoutGap="5px">
        <div
          class="font-semibold text-gray-700"
          *ngIf="topic.started; else notStarted"
        >
          {{ topic.totalProblems - topic.solveCount }} more to go
        </div>

        <ng-template #notStarted>
          <div class="font-semibold text-red-700">
            You have not subscribed yet.
          </div>
        </ng-template>

        <div class="font-semibold text-gray-700">
          <span> Total Subscribers: </span>
          <span class="bg-pink-100 p-1 rounded-lg">
            {{ topic.totalSubscribers }}
          </span>
        </div>
        <div>
          Completion Percentage:
          <b *ngIf="topic.started; else notStarted" class="text-green-600"
            >{{ topic.completionPercentage }}% &uarr;
          </b>
          <ng-template #notStarted
            ><b class="text-blue-600"> N/A </b></ng-template
          >
        </div>
      </div>
    </mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-card-actions align="end" class="font-sans">
      <div *ngIf="topic.started; else temp">
        <button mat-button>
          <mat-icon> restart_alt </mat-icon>
          <span>Reset</span>
        </button>

        <button
          mat-button
          color="accent"
          (click)="navigateToTopic(topic.topicname)"
        >
          <span>Continue</span>
          <mat-icon> play_arrow </mat-icon>
        </button>
      </div>

      <ng-template #temp>
        <button
          mat-button
          color="primary"
          (click)="navigateToTopic(topic.topicname)"
        >
          <span class="font-semibold font-sans">Start Journey &rarr;</span>
        </button>
      </ng-template>
    </mat-card-actions>

    <mat-card-footer>
      <mat-progress-bar
        color="accent"
        mode="determinate"
        [value]="topic.completionPercentage"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
