<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="m-10"
  fxLayoutGap="20px"
>
  <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
    <h1
      class="text-xl md:text-4xl font-semibold text-black tracking-wide dark:text-gray-300"
    >
      DSA 450 Cracker
    </h1>
    <h3
      class="text-sm md:text-xl font-bold tracking-wide text-pink-600 dark:font-black dark:text-gray-300"
    >
      Content Management Dashboard For Topics &amp; Questions
    </h3>
  </div>
  <router-outlet></router-outlet>
</div>
