<div class="dark:text-gray-300">
  <div class="grid-2">
    <div>
      <mat-list
        role="list"
        *ngFor="let questionTopic of data; let index = index"
        [attr.data-index]="index"
        (click)="onCurrentSelectionChange(index)"
        class="hover:bg-gray-50 transition-all hover:text-gray-800 cursor-pointer"
      >
        <mat-list-item role="listitem">
          <div class="font-sans w-full dark:text-gray-300">
            {{ questionTopic.topicname | titlecase }}
          </div></mat-list-item
        >
      </mat-list>
    </div>
    <div>
      <app-problem-info
        [questionTopicWithProblems]="currentSelectedQuestionTopic"
        (onUpdateProblemDetails)="updateDetails($event)"
      ></app-problem-info>
    </div>
  </div>
</div>
