<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
  <h1 class="text-xl md:text-4xl font-semibold text-black tracking-wide">
    {{ topicname }}
  </h1>
  <h3 class="text-sm md:text-xl font-bold tracking-wide text-pink-600">
    {{ topicInformation }}
  </h3>

  <table
    mat-table
    [dataSource]="problems"
    class="mat-elevation-z3 font-sans"
    style="min-width: 600px; width: 1200px; max-width: 1200px"
  >
    <!-- SL.NO Column -->
    <ng-container matColumnDef="SL.NO">
      <th mat-header-cell *matHeaderCellDef>SL.NO.</th>
      <td mat-cell *matCellDef="let element">
        {{ element.position }}
      </td>
    </ng-container>

    <!-- ProblemTitle Column -->
    <ng-container matColumnDef="Problem">
      <th mat-header-cell *matHeaderCellDef>Problem.</th>
      <td class="hover:text-pink-600" mat-cell *matCellDef="let element">
        <a [href]="element.problemURL" target="_blank">{{
          element.problemTitle
        }}</a>
      </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Progress">
      <th mat-header-cell *matHeaderCellDef>Progress.</th>
      <td class="hover:text-pink-600" mat-cell *matCellDef="let element">
        <div *ngIf="element.solved; else notsolved">
          {{ showProgressBySolution(element.code) }}
        </div>
        <ng-template #notsolved>
          {{ 0 | percent }}
        </ng-template>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status.</th>
      <td mat-cell *matCellDef="let element">
        <section class="is-solved-section">
          <button
            mat-button
            color="accent"
            *ngIf="element.solved ?? false; else temp"
            class="mat-button font-sans"
            [matTooltip]="generateTooltipText(element.solved)"
          >
            Upload / Modify Code
            <mat-icon> upload_file </mat-icon>
          </button>

          <ng-template #temp>
            <button
              mat-button
              color="accentt"
              class="mat-button"
              class="font-sans text-green-700"
              [matTooltip]="generateTooltipText(element.solved)"
            >
              Have already solved?
            </button>
          </ng-template>
        </section>
      </td>
    </ng-container>

    <!-- Attempted Count Column -->
    <ng-container matColumnDef="Attempted By">
      <th mat-header-cell *matHeaderCellDef>Attempted By.</th>
      <td mat-cell *matCellDef="let element">
        <div
          fxLayout="row"
          fxLayoutGap="5px"
          fxLayoutAlign="center center"
          class="mx-auto hover:text-pink-500"
        >
          <div>
            {{ element.attemptedCount ?? 0 }}
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#12ee9d"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M20.2 7.8l-7.7 7.7-4-4-5.7 5.7" />
              <path d="M15 7h6v6" />
            </svg>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="hover:bg-gray-50 hover:font-semibold transition-all cursor-pointer"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>
