.grid-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.CodeMirror {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: white;
}