<div
  fxLayout="col"
  fxLayout.gt-md="row"
  fxLayoutAlign="start start"
  fxLayoutGap="10px"
  *ngFor="let data of problemInformation$ | async"
  class="dark:text-gray-300"
>
  <div style="overflow: auto; min-width: 600px; overflow: hidden">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <div
        backButton
        class="cursor-pointer text-2xl hover:bg-gray-100 p-2 transition-all dark:bg-gray-600 rounded-full"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M19 12H6M12 5l-7 7 7 7" />
        </svg>
      </div>
      <div class="text-xl md:text-2xl font-semibold">
        {{ data.problemInformation.problemTitle | titlecase }}
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      class="my-2"
    >
      <div
        [ngClass]="setBackColor(data.problemInformation.difficultyLevel)"
        class="px-2 rounded-lg font-semibold"
      >
        {{ showDifficultyLevel(data.problemInformation.difficultyLevel) }}
      </div>
      <button (click)="updateVote(data.problemId, 'UP')" class="cursor-pointer">
        👍 {{ formatInAbs(data.problemInformation.upvoted) }}
      </button>
      <button
        (click)="updateVote(data.problemId, 'DOWN')"
        class="cursor-pointer"
      >
        👎 {{ formatInAbs(data.problemInformation.downvoted) }}
      </button>
      <div class="text-blue-700 px-1 rounded-lg bg-gray-100">
        <a [href]="data.problemInformation.problemURL" target="_blank"
          >Link to Problem</a
        >
      </div>
      <div
        class="cursor-pointer bg-pink-200 px-2 rounded-lg text-pink-700 font-semibold"
      >
        ❤️ Add to Favourites
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="my-3">
      <div class="text-2xl">Problem Description:</div>
      <div
        *ngIf="data.problemInformation.questionInformation; else temp"
        style="height: 80vh; overflow-y: scroll"
      >
        <section>
          <article class="my-3">
            <div
              class="prose dark:prose-invert"
              [innerHTML]="
                data.problemInformation.questionInformation
                  | markdownToHtml
                  | safeHTML
              "
            ></div>
          </article>
        </section>
      </div>
      <ng-template #temp>
        <div
          class="bg-yellow-200 px-2 rounded-lg inline-flex my-3 dark:text-gray-900"
        >
          {{
            "Shortly you will see the problem statement!. Work is in progress. 👨🏻‍💻"
          }}
        </div>
      </ng-template>
    </div>
  </div>
  <div class="w-full flex">
    <div class="w-full rounded-lg" style="height: 100vh">
      <button
        style="position: absolute; top: 25px; right: 40px"
        (click)="fullScreen()"
        class="float-right"
        mat-icon-button
      >
        <mat-icon>fullscreen</mat-icon>
      </button>
      <ngx-codemirror
        class="rounded-lg font-mono code-mirror-wrapper"
        style="font-size: 1rem"
        #codemirror
        [(ngModel)]="code"
        [options]="codeMirrorOptions"
        (focusChange)="updateCode(codemirror.value)"
      ></ngx-codemirror>
      <div fxLayout="row" fxLayoutAlign="end center" class="h-12 rounded-md">
        <button
          [disabled]="data.code === code"
          (click)="onCodeSubmit(data.id, data.problemId, code)"
          mat-raised-button
          color="primary"
        >
          Submit &rarr;
        </button>
      </div>
    </div>
  </div>
</div>
